h1 {
    text-align: center;
    color: white;
    font-family: 'Aref Ruqaa', serif;
    color:white;
}

body {
    background-image: url("handprint.jpg");
}


.movie-summary {
    max-width: 900px;
    height: 350px;
    margin: auto;
    padding: 30px;
    margin-bottom: 50px;
    font-family: 'Space Mono', monospace;
    color:white;
}

#description {
    font-family: 'Space Mono', monospace;
    max-width: 550px;
    position: absolute;
    color:white;
}

#poster {
    float: right;
}

#hhcred {
    float: right;
    margin-top: 200px;
    margin-left:30px;
    color:white;
}

.cast-members {
    max-width: 900px;
    height: 200px;
    margin: auto;
    padding: 30px;

    margin-top: 50px;
    font-family: 'Space Mono', monospace;


    color:white;

}

ul {
    position: absolute;
    max-width:300px;
}

#name-one {
   
    margin-top: 0px;
}

#name-two {
 
    margin-top: 30px;
}

#name-three {

    margin-top: 60px;
}

#name-four {
 
    margin-top: 90px;
}

#name-five {
   
    margin-top: 120px;
}

#cast-pic {
    float: right;
}

#mcred {
    float: right;
    margin-top: 1px;
    margin-left: 30pc;
}

.form {
    max-width: 900px;
    height: 320px;
    margin: auto;
    padding: 30px;
    margin-top: 50px;
    font-family: 'Space Mono', monospace;
    color:white;
}

#s-tickets {
    float: left;
    font-family: 'Space Mono', monospace;
    color:white;
}

#num-s-tickets {
    margin-left: 20px;
    margin-top: 15px;
}

#a-tickets {
    position: absolute;
    font-family: 'Space Mono', monospace;
    color:white;
}

#num-a-tickets {
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Space Mono', monospace;
}

#k-tickets {
    position: absolute;
    font-family: 'Space Mono', monospace;
    color:white;
}

#num-k-tickets {
    margin-left: 167px;
    margin-top: 15px;
}
