h1 {
    text-align: center;
}

body{
    background-color: #ffcccc;
}

div{
    background-color: white;
}

.movie-summary{
    max-width: 900px;
    height: 200px;
    margin: auto;
    padding: 30px;
    margin-bottom:50px; 
}

#description {
    max-width: 250px;
    position: absolute;
}

#poster {
    float: right;
}

.cast-members{
    max-width: 900px;
    height: 200px;
    margin: auto;
    padding: 30px;
    margin-top: 50px
    
}
#name {
    max-width: 250px;
    float: right;
}

#cast-pic {
    float: left;
    position: absolute;
}

.form{
    max-width: 900px;
    height: 320px;
    margin: auto;
    padding: 30px;
    margin-top:50px; 
}

#s-tickets{
    float: left;
 

}

#num-s-tickets{
    margin-left: 20px;
    margin-top: 15px;
    
}

#a-tickets{
    position: absolute;
}

#num-a-tickets{
    margin-left: 20px;
    margin-top: 15px;
}

#k-tickets{
     position: absolute;
}

#num-k-tickets{
     margin-left: 111px;
    margin-top: 15px;
    
}