h1 {
    text-align: center;
}

.a1 {
    max-width: 250px;
    position: absolute;
}

#a {
    float: right;
}

.b1{max-width: 250px;
    position: absolute;



}

#b {
    float: left;
    margin: 300px 0;
}
